@import './styles/theme.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
}

@layer base {
  * {
    @apply border-border;
  }
}
